*{
    margin: 0;
    padding: 0;
}


.parent
{
  display: flex;
  flex-flow:row-reverse;
  height: 100vh;

}
.r1{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis:50%;
  
}
.r2
{
          display: flex;
        flex-basis:50%;
  background: gray;

} 
.but
{
  height: 25pt;
  width: 400pt;
  margin-left: 10pt;
}
.footer
{
  position: absolute;
  bottom: 0;
  width: 50%;
 font-size: 9pt;
}
.footer2
{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
 font-size: 9pt;
}